@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height:100vh;
    background: #000;
    display:flex;
    align-items: center;
    justify-content: center;
}
header{
    position: relative;
    width:65%;
    height:80%;
    background: rgb(22, 21, 21);
    box-shadow:3px 3px 2px rgb(52, 50, 50);
    padding:0px 30px;
}
header nav{
    width: 100%;
    height: 15%;
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav img{
    height:100%;
    opacity: 0.5;
    transition:0.3s linear;
}
header nav img:hover{
    opacity: 1;
}

header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: start;
}
header nav ul li{
    text-decoration: none;
    padding: 3px 10px;
}
header nav ul li a{
    text-decoration: none;
    font-size: 12px;
    color: rgb(160, 152, 152);
    transition:.3s linear;
}
header nav ul li a:hover{
    color: white;
}
header nav .enroll_btn{
    text-decoration: none;
    font-size: 15px;
    color:rgb(160, 152, 152);
    font-weight: 800;
    padding: 5px 20px;
    border:2px solid rgb(160, 152, 152);
    border-radius: 20px;
    transition:.3s linear;
}

header nav .enroll_btn:hover {
    color:white;
    border:2px solid white;
}

header section{
    width: 100%;
    height: 85%;
    /* border:2px solid white; */
    display: flex;
}
header section .left_box{
    position:relative;
    height: 100%;
    width: 60%;
    /* border:2px solid white; */
    padding: 20px 0px 0px 70px;
}
header section .right_box{
    height: 100%;
    width: 40%;
    /* border:2px solid white; */
}
header section .left_box .content h1{ 
    font-size: 40px;
    font-weight:700;
}
header section .left_box .content h2{ 
    font-size: 30px;
    font-weight: 500;
}
header section .left_box .content p{
    font-size:11px;
    color:rgb(120, 124, 129) ;
}
header section .left_box .content .planbox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 10px;
    /* border:2px solid white; */
}
header section .left_box .content .planbox .card{
    position: relative;
    width: 24%;
    height: 10vh;
    padding: 1px 0px 0px 4px;
    border:2px solid rgb(120, 124, 129);
    background: rgb(41, 38, 38);
    border-radius: 6px;
    color:rgb(87, 84, 102);
}
header section .left_box .content .planbox .card:hover{
    border:2px solid rgb(183, 191, 199);
    background: rgb(55, 51, 51);
    cursor: pointer;
}

header section .left_box .exercises{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:space-between;
    padding: 20px 0px 4px 0px;
}

header section .left_box .exercises .imgex{
    display: flex;
    align-items: center;
    justify-content:center;
    color: rgb(128, 123, 123);
    
}

header section .left_box .exercises .imgex img{
    height: 2vh;
} 

header section .left_box .content .planbox h3,h4{
    text-align: center;
}

header section .left_box .exercises .imgex:hover{
    cursor: pointer;
    color:aliceblue;
    font-weight: bold;
}

header section .right_box img{
    padding: 0px 0px 0px 16px;
    width: 100%;
    height: 100%;
}



/* -----------media queries--------- */

@media screen and (max-width:1290px) {
    header {
        width: 90%;
        transition :.3s linear; 
    }
    header section .left_box .exercises {
        padding: 20px 0px 0px 0px;
        font-size: 13px;
    }
}
@media screen and (max-width:930px) {
    header {
        width: 100%; 
        height: 100%;
    }
    header section .left_box .exercises {
        padding: 20px 0px 0px 0px;
        font-size: 13px;
    }
}
@media screen and (max-width:845px) {
    header section .left_box .content .planbox .card {
        width: 23%;
        height: 10vh;
    }
    header section .left_box {
        position: relative;
        height: 100%;
        width: 66%;
        padding: 0px 0px 0px 0px;
    }
    header section .right_box img {
        padding: 0px 0px 0px 16px;
        width: 100%;
        height: 67%;
    }
}
@media screen and (max-width:725px) {
    header nav {
        width: 100%;
        height: 9%;
    }
    header nav ul li {
        text-decoration: none;
        padding: 5px 18px 0px 4px;
    }
    header section {
        width: 100%;
        height: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
    header section .right_box {
        height: 60%;
        width: 40%;
        padding: 6px 0px 0px 0px;
    }
    header section .right_box img {
        padding: 25px 0px 0px 0px;
        width: 100%;
        height: 90%;
    }
    header section .left_box {
        position: relative;
        height: 100%;
        width: 90%;
        padding: 0px 0px 0px 0px;
    }
    header section .left_box .exercises {
        padding: 20px 0px 18px 0px;
        font-size: 13px;
    }
}

@media screen and (max-width:585px) {
    header nav {
        width: 100%;
        height: 6%;
    }
    header nav ul li {
        text-decoration: none;
        padding: 0px 12px 0px 6px;
    }
    header nav .enroll_btn {
        font-size: 9px;
    }
}
@media screen and (max-width:520px) {
    header nav ul li a {
        font-size: 9px;
    }
    header section .left_box {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 0px 0px 0px 0px;
    }
    header section .left_box .content h1 {
        font-size: 32px;
        font-weight: 500;
    }
    header section .left_box .content .planbox {
        margin: 0px;
    }
    header section .left_box .content .planbox .card {
        width: 24%;
        height: 12vh;
    }
}
@media screen and (max-width:585px) {
    header nav ul li {
        padding: 0px 7px 4px 5px;
    }
    header nav ul li a {
        font-size: 11px;
    }
    header nav .enroll_btn {
        font-size: 10px;
    }
    header section .right_box img {
        padding: 2px 0px 0px 0px;
    }
    header section .left_box .content h1 {
        font-size: 28px;
        font-weight: 400;
    }
    header section .left_box .content p {
        font-size: 9px;
        color: rgb(120, 124, 129);
    }
    header section .left_box .content h2 {
        font-size: 24px;
        font-weight: 300;
    }
}
@media screen and (max-width:520px) {
    element.style {
        margin: 0px;
    }
    header section .left_box .content .planbox .card {
        width: 21%;
        height: 9vh;
    }
    header section .left_box .content .planbox h3, h4 {
        text-align: center;
        font-size: 15px;
    }
}
@media screen and (max-width:485px) {
    header nav ul li a {
        font-size: 8px;
    }
    header nav .enroll_btn {
        font-size: 8px;
    }
    header section .left_box .content h1 {
        font-size: 27px;
    }
    header section .left_box .content h2 {
        font-size: 22px;
    }
    header section .left_box .content .planbox h3, h4 {
        font-size: 13px;
    }
}
@media screen and (max-width:433px){
    header section .left_box .content .planbox h3, h4 {
        font-size: 12px;
    }
    header section .left_box .content .planbox .card {
        width: 23%;
        height: 7vh;
    }
}
@media screen and (max-width:400px){
    header nav ul li a {
        font-size: 5px;
    }
    header nav .enroll_btn {
        padding: 1px 10px;
    }
    header nav .enroll_btn {
        font-size: 5px;
    }
    header section .left_box .content .planbox .card {
        width: 23%;
        height: 6vh;
    }
    header section .left_box .content .planbox h3, h4 {
        font-size: 8px;
    }
    header section .left_box .exercises {
        padding: 20px 0px 0px 0px;
        font-size: 8px;
    }
}
